@if (product(); as product) {
  <div
    class="bg-gray-800 text-white rounded-xl shadow-lg hover:shadow-xl transition p-6 flex flex-col justify-between transform hover:scale-105"
  >
    <img
      src="{{ product.image }}"
      width="455"
      height="256"
      alt="{{ product.name }}"
      class="w-full h-64 object-cover rounded-xl mb-4"
      loading="lazy"
      decoding="async"
    />
    <div>
      <h3 class="text-xl font-semibold mb-2 text-white">{{ product.name }}</h3>
      <p class="text-gray-300 mb-2">$ {{ product.price }}</p>
      <p class="text-gray-300 mb-2 text-sm">{{ product.description }}</p>
      @switch (product.type) {
        @case ('laptop') {
          <p class="text-gray-300 text-sm">RAM: {{ product.ramGb }} GB</p>
          <p class="text-gray-300 text-sm">CPU: {{ product.cpu }}</p>
          <p class="text-gray-300 text-sm">OS: {{ product.os }}</p>
          <p class="text-gray-300 text-sm">Screen: {{ product.screenInch }}"</p>
        }
        @case ('phone') {
          <p class="text-gray-300 text-sm">OS: {{ product.os }}</p>
          <p class="text-gray-300 text-sm">Screen: {{ product.screenInch }}"</p>
        }
        @case ('tablet') {
          <p class="text-gray-300 text-sm">OS: {{ product.os }}</p>
          <p class="text-gray-300 text-sm">Screen: {{ product.screenInch }}"</p>
        }
        @case ('accessory') {
          <p class="text-gray-300 text-sm">{{ product.keywords.join(', ') }}</p>
        }
      }
    </div>
    <div class="mt-4 flex gap-2">
      @if (isDashboard()) {
        <button
          (click)="deleteProduct(product.id)"
          class="flex-1 bg-red-700 text-white py-2 rounded-lg font-semibold hover:bg-red-800 transition"
        >
          Törlés
        </button>
      } @else {
        <button
          (click)="addToCart(product)"
          class="flex-1 bg-white text-gray-800 py-2 rounded-lg font-semibold hover:bg-gray-200 transition"
        >
          Kosárba tesz
        </button>
        <button
          (click)="goToDetail(product)"
          class="flex-1 bg-gray-200 text-gray-800 py-2 rounded-lg font-semibold hover:bg-white transition"
        >
          Részletek
        </button>
      }
    </div>
  </div>
}
