<div class="mb-6 flex flex-col sm:flex-row gap-4 items-center">
  <input
    type="text"
    placeholder="Search products..."
    (input)="updateSearch($any($event.target).value)"
    class="p-2 border rounded-lg flex-1"
  />
  <select
    (change)="updateCategory($any($event.target).value || null)"
    class="p-2 border rounded-lg"
  >
    <option value="all">Összes kategória</option>
    <option value="laptop">Laptop</option>
    <option value="phone">Phone</option>
    <option value="tablet">Tablet</option>
  </select>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
  @for (product of filteredProducts(); track product) {
    <app-card [product]="product" [isDashboard]="false"></app-card>
  }
</div>
